<header>
    <div class="bg-white h-[74px] flex">
        <img class="h-[40px] w-[40px] m-5 ml-[120px]" src="assets/logo.png" alt="logo">
        <img class="h-[50px] mt-3" src="assets/nome-logo.PNG" alt="nome da logo">

        <img class="h-7 mt-5  ml-[250px]" src="assets/location.png" alt="icon localiza">
        <p class="mt-5 ml-2 text-[20px] text-cyan-950 font-bold">Entregamos em qualquer endereço, com rapidez e
            segurança!</p>

        <img class="h-7 mt-5 ml-[200px]" src="assets/lupa.png" alt="lupa">
        <input
            class="hover:border ml-1 shadow-[4px_4px_4px_4px_rgba(252,186,3,0.3)] h-7 mt-5 rounded-2xl p-2 border-amber-400 text-cyan-950 font-bold "
            type="text" placeholder="Procure sua comida!">

        <input
            class="hover:border border-amber-400 shadow-[4px_4px_4px_4px_rgba(252,186,3,0.3)] rounded-2xl w-[100px] h-9 mt-4 ml-10 font-bold text-cyan-950 "
            type="button" value="CRIAR">
    </div>
</header>

<div>
    <img src="assets/fundo.png" alt="cade a imagem">
    <img class="absolute ml-250 top-38" src="assets/fundo2.png" alt="">

    <h1 class="absolute text-6xl font-bold text-white ml-[100px] top-[250px] ">Você está morrendo de fome?</h1>
    <p class="absolute font-bold ml-[120px] top-[320px] text-cyan-950">Com apenas alguns cliques, encontre refeições
        acessíveis
        pertode você!</p>

    <div class="absolute bg-white h-[170px] w-[870px] ml-[120px] top-[370px] p-3 rounded-4xl">

        <input
            class="p-2 rounded-3xl ml-5 w-[100px] hover:bg-amber-300 font-bold shadow-[4px_4px_4px_4px_rgba(252,186,3,0.3)] text-cyan-950"
            type="button" value="ENTREGA">
        <input
            class="p-2 rounded-3xl ml-5 w-[100px] hover:bg-amber-300 font-bold shadow-[4px_4px_4px_4px_rgba(252,186,3,0.3)] text-cyan-950"
            type="button" value="BALCÃO">

        <hr class="w-[870px] border-b-cyan-950 ml-[-12px] mt-4" />

        <div class="flex">
            <input
                class="hover:border w-[600px] mt-5 ml-5 p-2 rounded-3xl border-amber-400 shadow-[4px_4px_4px_4px_rgba(252,186,3,0.3)] font-bold text-cyan-950"
                type="text" placeholder="Digite seu entereço!">

            <input
                class="mt-5 ml-5 p-3 rounded-3xl hover:bg-amber-300 shadow-[4px_4px_4px_4px_rgba(252,186,3,0.3)] font-bold text-cyan-950"
                type="button" value="ENCONTRAR COMIDA">
        </div>
    </div>
</div>